  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img{
                width: 30%;

    }

    .container {
      background-color: white;
      padding: 2rem 3rem;
      border-radius: 20px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      width: 350px;
      text-align: center;
    }

    h1 {
      color: #333;
      margin-bottom: 1.5rem;
    }

    .form-group {
      margin-bottom: 1rem;
      text-align: left;
    }

    label {
      display: block;
      margin-bottom: 0.4rem;
      color: #555;
    }

    input {
      width: 100%;
      padding: 0.7rem;
      border-radius: 10px;
      border: 1px solid #ccc;
      font-size: 1rem;
      outline: none;
      transition: all 0.2s;
    }

    input:focus {
      border-color: #6c63ff;
      box-shadow: 0 0 4px rgba(108, 99, 255, 0.5);
    }

    button {
      width: 100%;
      padding: 0.8rem;
      background-color: #6c63ff;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #5851d8;

    }
